/* basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* взяли шрифты с google fonts и прописали правило font-family: 'Inter', sans-serif;*/
    font-family: 'Inter', sans-serif;
}

/* header */

.container {
    max-width: 1170px;
    margin: 0 auto;
    /* это правила для центровочного контейнера */
}

.header-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    margin: 0 auto;
}

.header-contacts {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_social {
    display: flex;
    list-style-type: none;
}

.social_icon_vk,
.social_icon_telegram,
.social_icon_whatsUp {
    width: 32px;
    height: 23px;
}

.info-box {
    padding: 24px;
    margin-left: 24px;
    margin-top: 20px;
    display: flex;
    background-color: #F8F8FD;
    border-radius: 24px;
}

.info-list>li {
    padding: 8px;
    margin-left: 50px;
    padding-right: 50px;
    list-style-type: none;
    color: #9999A3;
}

.right>li {
    color: black;
}

.white {
    padding: 15px 315px;
    color: #BCBCC2;
    margin-bottom: 5px;
}

.white2 {
    padding: 15px 5px;
    color: #BCBCC2;
    margin-bottom: 5px;

}

/*main*/
.main-work {
    padding-top: 5px;
    padding-left: 70px;
}

.main-box {
    padding-left: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.main-content {
    max-width: 63%;
}

.main-content:nth-child(1n) {
    color: #000;
}

.main-text1 {
    height: 44px;
    background-color: #A9A9FD;
    color: white;
    border-radius: 8px;
    padding: 16px;
    white-space: nowrap;
    float: left;
    height: 100%;
    margin-left: 16px;
}

.main-text2 {
    height: 44px;
    background-color: #F1A9FD;
    color: white;
    border-radius: 8px;
    padding: 16px;
    white-space: nowrap;
    float: left;
    height: 100%;
    margin: 0 auto;
    margin-left: 8px;
}

.main-list>p.g {
    margin-top: 10px;
    color: #BCBCC2;
}

.info {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;

}

/* skills, lan*/

.skills,
.language,
.aboutMe {
    margin-left: 315px;
    margin-bottom: 20px;
}

.aboutMe>p {
    margin-bottom: 10px;
}

span {
    padding: 12px;
    border-radius: 8px;
    background-color: #F5F5FA;
    white-space: nowrap;
    float: left;
    height: 100%;
    margin-left: 16px;
}

.img-circle {
    width: 264px;
    height: 264px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}

.img-circle img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel .img-circle img {
    max-height: 768px;
    min-width: auto;
}

a {
    color: #A9A9FD;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--bs-link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

@media screen and (max-width: 768px) {

    .header-contacts {
        width: 100%;
        flex-direction: row;
    }

    .header-wrapper,
    .header-contacts,
    .carousel,
    .header_social,
    .header-info {
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .main-box {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .main-content {
        max-width: 100%;
    }

    .skills,
    .language,
    .aboutMe {
        margin-left: 0;
    }

    .carousel,
    .slider {
        position: relative;
    }



    .img-circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 1000;
    }
}

h1 {
    margin-bottom: 24px;
}

h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

p {
    margin-top: 12px;
}

#box {
    width: 100%;
    height: 100%;
    /* background: green; */
    position: relative;
    /* border: 10px solid blue; */
    left: 50px;
    top: 50px;
}

#box:before {
    background: #fff;
    content: 'border';
    color: #fff;
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    z-index: -1;
}

#box:after {
    background: #fff;
    content: 'margin';
    color: #fff;
    display: block;
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    z-index: -2;
}

.content {
    float: left;
    height: 100%;
}

.cl {
    clear: both;
}
